@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------------
    Reset
------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-----------------------
    Common Style Rules
 ------------------------*/
.container{
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

